body {
    padding: 50px;
    color: #232e27;
}

#color, #typography, #button section:nth-of-type(-n+2) {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #bbbbbb;
}

#button h3 {
    padding-top: 50px
}

h1 {
	font-family: 'Karla', sans-serif;
	font-size: 72px;
}

h2 {
	font-family: 'Neuton', serif;
	font-size: 48px;
	font-style: italic;
}

h3 {
	font-family: 'Karla', sans-serif;
	font-size: 36px;
}

h4 {
	font-family: 'Neuton', serif;
	font-size: 12px;
	color: #bbbbbb;
	font-weight: normal;
	margin-top: 25px;
}

h5 {
    font-family: 'Karla', sans-serif;
	font-size: 24px;
}

#typography h5 {
    margin-top: 50px
}

#typography p {
    width: 50%
}

p {
	font-family: 'Neuton', serif;
	font-size: 16px;
	line-height: 1.2;
}

.font-karla {
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}

.font-neuton {
	font-family: 'Neuton', serif;
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.palette {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.accent-green {
    background-color: #8c9c09;
}

.accent-black {
    background-color: #232e27;
}

.accent-grey {
    background-color: #bbbbbb;
}

.accent-white {
    background-color: #e2e6e4;
}

.btn {
    border-radius: 0px;
    font-family: 'Karla', sans-serif;
}